*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    tab-size: 4; 
}

strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    border-color: currentcolor;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

legend {
    padding: 0;
}

progress {
    vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

summary {
    display: list-item;
}

/*////////////////////////////////////////////////////////*/

body {
    display: flex;
    height: 100vh;
}

.container-bg {
    width: 35vw;
    min-width: fit-content;
    background-image: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-bg-logo {
    background-color: hsla(0, 0%, 0%, 0.528);
    display: flex;
    align-items: center;
    margin-top: 20vh;
    padding: 0.5rem;
    justify-content: center;
}

.logo-text {
    font-size: 4rem;
}

img {
    height: 6rem;
}

.container-main {
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-inputs {
    box-shadow: black 2px 2px 2px;
    padding: 1rem 5rem 2rem 2rem;
}